#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


body {
  background: white;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.container-text {
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

a {
  color: #3F7396;
  cursor: pointer;
}


.container-banner {
  margin: 0 auto;
  display: flex; /* or inline-flex */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* Style for "Rectangle" */
  width: 80%;
}

@font-face {
  font-family: 'buran_ussrregular';
  src: url('./fonts/buran_ussr-webfont.woff2') format('woff2'),
       url('./fonts/buran_ussr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}